<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .main {
        margin: 10px;
        padding: 10px;
        border: 2px solid grey;
        width: fit-content;
        font-size: 25px;
      }
    </style>
  </head>
  <body>
    {% for person in persons %}
    <div class="main">
      <a href="{% url 'detailpage' person.id %}"> <p>{{person.name}}</p></a>
    </div>
    {% endfor %}
  </body>
</html>
